<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="utf-8">
	<title>Vitaliy's TO DO List</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="Todo">
	<div class="container">
		<div page-header></div>
		<!--<div ng-include="'page-header.html'"></div>-->
		<!--<div class="page-header">
			<h1>
				<img class="photo" ng-src="{{::todo.userPhoto}}">
				{{::todo.user}}'s To Do List
				<span class="label label-default"
					ng-hide="incompleteCount(todo.items) === 0"
					ng-class="warningLevel(todo.items)">
					{{incompleteCount(todo.items)}}
				</span>
			</h1>
		</div>-->
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control" ng-model="newItem.action"/>
						<span class="input-group-btn">
							<button class="btn btn-default"
								ng-disabled="!newItem || !newItem.action"
								ng-click="addNewItem(todo.items, newItem)">Add</button>
							<button class="btn btn-default"
								ng-disabled="!newItem || !newItem.action"
								ng-click="removeItem(todo.items, newItem)">Remove</button>
						</span>
					</div>
				</div>
			</form>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Description</th>
						<th>Done</th>
						<th>Checkbox</th>
						<th>Deadline</th>
						<th>Responsible</th>
						<th>Est. Hours</th>
					</tr>
				</thead>
				<tbody>
					<!--<tr ng-repeat="item in todo.items | filter: {done:'false'} | orderBy:'action'">-->
					<tr ng-repeat="item in todo.items | checkedItems: showComplete | orderBy:'action'">
						<td>{{item.action}}</td>
						<td>{{item.done}}</td>			
						<td><input type="checkbox" ng-model="item.done"></td>	
						<td>{{item.deadline}}</td>
						<td>{{item.responsible}}</td>	
						<td>{{item.estHours}}</td>						
					</tr>
				</tbody>
			</table>
			
			<!--<div task-list></div>-->
			<div>
				<label>
					<input type="checkbox" ng-model="showComplete"/>
				Show Complete
				</label>
				<button class="btn btn-default"
					ng-click="removeAllCompletedItems(todo.items)">Remove All Completed Tasks</button>
				
			</div>
		</div>
	</div>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="todo.json"></script>
</body>
</html>
